<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" asp-href-include="~/dist/site*.css" />
</head>
<body>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger">
        <i></i>
        <i></i>
        <i></i>
    </label>

    <aside id="nav">
        <a href="./">photo.KirK.one</a>
        <a href="http://">images</a>
        <a href="http://">gear</a>
        <a href="http://">about</a>
    </aside>    

    <section id="content">
		@RenderBody()
   </section>

	<script type="text/javascript" asp-src-include="~/dist/site*.js"></script>
	@RenderSection("scripts", required: false)
</body>
</html>
