<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" asp-href-include="~/dist/site*.css" />
</head>
<body>
    @RenderSection("navigation", required: true)

    <section id="content">
		@RenderBody()
   </section>

	<script type="text/javascript" asp-src-include="~/dist/site*.js"></script>
	@RenderSection("scripts", required: false)
</body>
</html>
