@{
    ViewData["Title"] = "Gallery";
    Layout = "_LayoutEmpty";
}
<h2>@ViewData["Title"]</h2>

<p>Gallery</p>

<!-- <img src="/images/generated/DSC01766/small.jpg" />
<img src="/images/generated/DSC01766/medium.jpg" />
<img src="/images/generated/DSC01766/large.jpg" />


<picture style="width: 100%;" src="DSC01766.jpg" alt="A simple text." />

<hr /> -->

<!-- <p>Image</p>
<img style="width: 50%;"
     src="/images/generated/DSC01766/large.jpg"
     sizes="50vw"
     alt="A simple text."
     srcset="/images/generated/DSC01766/small.jpg 450w, 
             /images/generated/DSC01766/medium.jpg 600w,        
             /images/generated/DSC01766/large.jpg 750w">

<hr /> -->

<p>Example</p>
<picture>
    <source srcset="/images/generated/DSC01766/small.jpg, /images/generated/DSC01766/small2x.jpg 2x" media="(max-width: 450px)">
    <source srcset="/images/generated/DSC01766/medium.jpg, /images/generated/DSC01766/medium2x.jpg 2x" media="(max-width: 600px)">
    <source srcset="/images/generated/DSC01766/large.jpg, /images/generated/DSC01766/large2x.jpg 2x">
    <img style="width: 100%;" src="/images/generated/DSC01766/large.jpg" srcset="/images/generated/DSC01766/large.jpg, /images/generated/DSC01766/large2x.jpg 2x" alt="A simple text">
</picture>
