@{
    ViewData["Title"] = "Home Page";
}

@section navigation {
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
            <i></i>
            <i></i>
            <i></i>
        </label>

        <aside id="nav">
            <a href="./">photo.KirK.one</a>
            <a href="http://">images</a>
            <a href="http://">gear</a>
            <a href="http://">about</a>
        </aside>
}

@foreach (var image in ViewBag.Images)
{
    <article>
        <a id="@image.Name" asp-route="ImageDetails" asp-route-image="@image.Name"><picture class="awesome_image" src="@image.Name" alt="@image.PhysicalPath" /></a>
    </article>
}

@section scripts {
    
}