@{
    ViewData["Title"] = "Home Page";
}

<div>
    <picture class="awesome_image" src="DSC01766" alt="A simple text." />
</div>
<div>
    <picture class="awesome_image" src="DSC03142" alt="A simple text." />
</div>
<div>
    <picture class="awesome_image" src="DSC03448" alt="A simple text." />
</div>
<div>
    <picture class="awesome_image" src="DSC03726" alt="A simple text." />
</div>

@section scripts {
    
}