@{
    ViewData["Title"] = "Home Page";
}

<!-- <div>
    <img class="awesome_image" src="/images/generated/DSC01766/large.jpg" srcset="/images/generated/DSC01766/small.jpg 450w, /images/generated/DSC01766/medium.jpg 600w, /images/generated/DSC01766/large.jpg 750w, /images/generated/DSC01766/medium2x.jpg 1200w, /images/generated/DSC01766/large2x.jpg 1500w" alt="A simple text.">
</div> -->

<div>
    <picture class="awesome_image" src="DSC01766" alt="A simple text." />
</div>
<div>
    <picture class="awesome_image" src="DSC03142" alt="A simple text." />
</div>
<div>
    <picture class="awesome_image" src="DSC03448" alt="A simple text." />
</div>
<div>
    <picture class="awesome_image" src="DSC03726" alt="A simple text." />
</div>

@section scripts {
    
}